header{
	padding-top: 0.5em;
	padding-bottom: 0.5em; 
}

.row2 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.menuizquierdo {
	/*border-right: 2px solid;
	height: 100%; */
}

.rowderecho { /*border-left: 2px solid; */}

.contenido { border-right: 2px solid; border-left: 2px solid; }

.panelAdmin { justify-content:center;}

.fecha{ padding-left: 1em; }

.cerrarsesion{ padding-right: 1em; }

.login{
	justify-content: center; display: flex;
}

.logoFacultad{
	display:scroll; position:fixed; bottom:20px; right:50px; height: auto;
max-width: 100%; 
}

.padre {
  /* IMPORTANTE */
  text-align: center;
}

.hijo {
  /*background-color: yellow;*/
  padding: 10px;
  margin: 10px;
  
  /* IMPORTANTE */
  display: inline-block;
}